<div class="row description">
  <div class="col-sm-2">
    <img src="assets/opacity-zero.jpg" alt="product image" />
  </div>
  <div class="col-sm-6">
    <p
      style="font-size:16px;font-family:Arial, Helvetica, sans-serif;font-weight:normal"
      class="album-name"
    >
      Opacity Zero
    </p>
    <p
      style="font-size:16px;font-family:Arial, Helvetica, sans-serif;font-weight:normal"
      class="band-name"
    >
      The Prependers
    </p>
    <p
      style="font-size:16px;font-family:Arial, Helvetica, sans-serif;font-weight:normal "
      class="album-release-date"
    >
      September 25, 2014
    </p>
  </div>
</div>
